<!DOCTYPE html>
<html lang="ru">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" type="text/css" rel="stylesheet">
  <title>Sorts</title>
  </head>
 <body>
  <div>  
   <form class='none'>
      <strong>ID</strong>= {{ id_7095 }} <br>
      <strong>Name</strong>= {{ name_7095 }} <br>
      <strong>Image</strong>= {{ img_7095 }} <br>
   </form>
   <button  class='btn'>show</button>
   <script src="src/jquery-3.6.1.js"></script>
   <script src="main.js"></script>
 </body>
</html>
